.main-container {
  height: 100vh;
}

.content-container {
  height: 96vh;
  margin: 1px;
  background-image: url("../assets/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
