.map-container {
  background-color: lawngreen;
  flex: 1;
  height: 100%;
}

.map {
  height: 100%;
}

.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: $color-dark-2;
  color: white;
  font-weight: 600;
}
