.user {
  position: absolute;
  top: 1rem;
  right: 0.5rem;
  background-color: $color-dark-1;
  padding: 1rem 1.4rem;
  border-radius: 7px;
  z-index: 999;
  box-shadow: 0 0.8rem 2.4rem rgba(36, 42, 46, 0.5);
}

.user-image {
  border-radius: 100px;
  height: 2rem;
}

.welcome-context {
  font-size: 0.8rem;
  font-weight: 600;
  color: white;
}

.btn-logout {
  background-color: $color-dark-brisket;
  border-radius: 7px;
  border: none;
  padding: 0.6rem 1.2rem;
  color: white;
  font-family: inherit;
  font-size: 0.6rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
